{
  {% if kvm_available | default(false) -%}
  "runtimes": {
    "io.kontain": {
      "path": "/opt/kontain/bin/krun"
    }
  },
  "default-runtime": "runc",
  {% else -%}
  "default-runtime": "runc",
  {% endif -%}
  "storage-driver": "overlay2",
  "log-driver": "json-file",
  "log-opts": {
    "max-size": "10m",
    "max-file": "3"
  },
  "dns": ["127.0.0.1"],
  "dns-search": ["service.consul"],
  "experimental": false,
  "live-restore": true,
  "userland-proxy": false,
  "no-new-privileges": false
}
