[Unit]
Description="HashiCorp Nomad - A cluster manager and scheduler"
Documentation=https://www.nomadproject.io/
Requires=network-online.target
After=network-online.target
Wants=consul.service
ConditionFileNotEmpty=/etc/nomad.d/nomad.hcl

[Service]
Type=notify
User=ploy
Group=ploy
EnvironmentFile=-/etc/nomad.d/nomad.env
ExecStart=/usr/local/bin/nomad agent -config /etc/nomad.d/nomad.hcl
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=on-failure
RestartSec=2
LimitNOFILE=65536
LimitNPROC=infinity
LimitCORE=0
TasksMax=infinity
StandardOutput=journal
StandardError=journal
SyslogIdentifier=nomad

[Install]
WantedBy=multi-user.target