storage:
  type: "s3"
  endpoint: "http://localhost:{{ seaweedfs.s3_port }}"
  access_key: "{{ seaweedfs.access_key }}"
  secret_key: "{{ seaweedfs.secret_key }}"
  region: "us-east-1"
  bucket: "ploy-artifacts"
  use_ssl: false