global
  daemon
defaults
  mode http
  timeout connect 5s
  timeout client  30s
  timeout server  30s
frontend fe
  bind *:443 ssl crt /etc/haproxy/certs/
  acl acme_req path_beg /.well-known/acme-challenge/
  use_backend acme if acme_req
  default_backend apps
backend acme
  server acme 127.0.0.1:9080
backend apps
  server placeholder 127.0.0.1:8080
