<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>dev.ploy.seaweedfs</string>

  <key>ProgramArguments</key>
  <array>
    <string>@HOMEBREW_PREFIX@/bin/weed</string>
    <string>server</string>
    <string>-dir</string>
    <string>${HOME}/.seaweedfs/data</string>
    <string>-master.port=9333</string>
    <string>-master.defaultReplication=000</string>
    <string>-volume.port=8080</string>
    <string>-volume.max=8</string>
    <string>-filer</string>
    <string>-filer.port=8888</string>
    <string>-filer.defaultReplicaPlacement=000</string>
    <string>-filer.dirListingLimit=2000</string>
    <string>-s3</string>
    <string>-s3.port=8333</string>
  </array>

  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>
  <key>WorkingDirectory</key>
  <string>${HOME}/.seaweedfs</string>
  <key>StandardOutPath</key>
  <string>${HOME}/Library/Logs/seaweedfs.log</string>
  <key>StandardErrorPath</key>
  <string>${HOME}/Library/Logs/seaweedfs.log</string>
</dict>
</plist>
