MINIO_VOLUMES="/var/lib/minio/data"
MINIO_OPTS="--console-address :{{ minio.console_port }}"
MINIO_ROOT_USER={{ minio.access_key }}
MINIO_ROOT_PASSWORD={{ minio.secret_key }}
MINIO_REGION_NAME=us-east-1